/***************************************
*             BAR  PAGE                *
***************************************/

/* VARIABLES */

:root {
  --align--center: center;
  --margin--auto: auto;
}

/* PAGE  CONTENT */
.sb-bar {
  background: rgba(244, 244, 244, 1);
  height: 100vh;
  width: 100vw;
}

/* BARS IONCARD */

.sb-bar-ionCard {
  background-color: white;
  margin: 45px var(--margin--auto);
  display: flex;
  justify-content: var(--align--center);
  align-items: var(--align--center);
  width: 874px;
  height: 313px;
  margin-top: 15px;
  border: 3px solid #000000;
}

/* BAR TABLES */

.sb-bar-tables {
  position: absolute;
  width: 147px;
  height: 133px;
  left: 227px;
  top: 388px;
  background: #ffffff;
  border: 3px solid #000000;
  border-radius: 50%;
  box-sizing: border-box;
}

/* BAR MAP ASIDE */
/* .sb-bar-asideMap {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  background-color: black;
  width: 374px;
  height: 213px;
} */

/* BAR REVIEWS  */
.sb-bar-reviews {
  position: absolute;
  width: 140px;
  height: 30px;
  left: 227px;
  top: 667px;
  font-family: Ruluko;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  color: #000000;
}

/* BAR REVIEWS STARS */
.fa .fa-star {
  position: absolute;
  left: 367px;
  right: 22.43%;
  top: 559px;
  bottom: 12.33%;
  width: 80px;
  height: 80px;
  background: #000000;
  border: 1px solid #000000;
}
.checked {
  color: #fa9950;
}
