
/***************************************
*       TABS                           *
***************************************/


/* VARIABLES */

:root {
    --ion-color-new: #fa9950;
    --ion-color-new-rgb: 250,153,80;
    --ion-color-new-contrast: #000000;
    --ion-color-new-contrast-rgb: 0,0,0;
    --ion-color-new-shade: #dc8746;
    --ion-color-new-tint: #fba362;
  }
  
  /* NEW COLOR ICONS TABS */
  .ion-color-sb-tabs-tabColor{
    --ion-color-base: var(--ion-color-new);
    --ion-color-base-rgb: var(--ion-color-new-rgb);
    --ion-color-contrast: var(--ion-color-new-contrast);
    --ion-color-contrast-rgb: var(--ion-color-new-contrast-rgb);
    --ion-color-shade: var(--ion-color-new-shade);
    --ion-color-tint: var(--ion-color-new-tint);
  }

  /* TAB BAR BACKGORUND COLOR */
  
  .sb-tabs-backgorund{
      background-color: black;
  }