/***************************************
*             PROFILE  PAGE            *
***************************************/

/* VARIABLES */

:root {
  --align--center: center;
  --margin--auto: auto;
}

/* PROFILE PAGE */
.sb-profile-page {
  background-color: #f4f4f4;
}

/*  PROFILE USERNAME */

.sb-profile-username {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: var(--align--center);
  margin: 20px var(--margin--auto);
}

/* PROFILE AVATAR */

.sb-profile-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 190px;
  height: 187px;
  /* left: 227px;
    top: 388px; */
  background: #ffffff;
  border: 3px solid #000000;
  border-radius: 50%;
  box-sizing: border-box;
}

/*  PROFILE CARDS */

.sb-profile-cards {
  background-color: white;
  margin: 45px var(--margin--auto);
  display: flex;
  justify-content: var(--align--center);
  align-items: var(--align--center);
  width: 60vw;
  height: 20vh;
}

/* SEGMENTS */

.sb-profile-segments {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
}


/* SEGMENTS TITLES */

.sb-profile-segments-titles{
  font-family: "Rubik Mono One", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: var(--align--center);
  margin: 45px var(--margin--auto);
}